<div>
    <ul>
        <li><a href="/src/">Home</a></li>
        <li><a href="/src/about.html">About</a></li>
        <li class="dropdown">
            <a href="/src/docs/" class="dropbtn">Docs</a>
            <div class="dropdown-content">
                <a href="/src/docs/installation.html">Installation</a>
                <a href="/src/docs/components.html">Components</a>
                <a href="/src/docs/variables.html">Variables</a>
            </div>
        </li>

        <li><a href="/src/contact.html">Contact</a></li>
    </ul>
</div>